*	
{
	-webkit-highlight:      none;
	-webkit-touch-callout :   none;
	-webkit-user-select:     none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
}
		
body 
{
	margin: 0px;
	padding: 0;
	-webkit-text-size-adjust: 100%;
	background-color:transparent;
}
			
			
#arelDebugConsole
{
	background-color:rgba(255,255,255,0.24);
}


/* -----------------------------------------------------------------

	Custom

-----------------------------------------------------------------*/

.ui-button {
	position: absolute;
	/*
	width: 30px; 
	height: 30px; 
	line-height: 30px;
	background-color: rgb(43, 53, 148);
	*/
	color: #fff;
	text-align: center;
	
}

#topLeft {
	left: 20px; top: 20px; 
}
#topRight {
	right: 20px; top: 20px;
}
#bottomLeft {
	left: 20px; bottom: 20px;
}
#bottomRight {
	right: 20px; bottom: 20px;
}

/* status, health & safety icons */
#bottomLeft img {
	display: inline;
	margin-right: 8px;
}

.outer {
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
}

#notification {
	width: 396px;
	height: 85px;
	text-align: center;
}